/* 
Front-End Developer : Furkan Köseoğlu
http://furkankoseoglu.com/
*/

@media (max-width: 1920px) {

}


/* (1680x1050) WSXGA+ Display */

@media (max-width: 1680px) {

   
    .main-slider .swiper-pagination-bullet-active:before {
        left: -3px;
    }
}


/* (1600x900) HD+ Display */

@media (max-width: 1600px) {

}

/* iPad or %125 Zoom 1080p */

@media (max-width: 1536px) {
 
}

/* (1440x900) WXGA+ Display - MacBook */

@media (max-width: 1440px) {

}


/* (1366x768) WXGA Display - Laptop */

@media (max-width: 1366px) {
    .main-slider .text {
        width: 45%;
    }
}


/* (1280x1024) SXGA Display */

@media (max-width: 1280px) {
 
}

@media (width: 1024px) {
 
}


/* Phones ---------- */

/* iPad */

@media(max-device-width: 1024px) {
    .main-slider img {
        height: 60vh;
        opacity:0.8;
    }
    .main-slider {
        height: 60vh;
    }
    #features .content div {
        padding-right:15px;
    }
}


/* iPhone 4 & 4S */

@media(max-device-width: 960px ) and (max-width: 960px){
nav{
    padding-left:0 !important;
    padding-right: 0 !important; 
}
.navbar-toggler{
    margin:15px;
    margin-left: auto;

    color: #fff !important;
    border-color: #fff !important;
    padding: 0.55rem .75rem;
    
}
#navbarNav{
    background: #fff;
    padding:15px 0;
    color: #0090cf !important;
}
.navbar-light .navbar-nav .nav-link {
    border-bottom: 2px solid #0090cf;
    display: inline-block;
    color: #0090cf !important;
    margin-bottom: 15px;;
}
    .main-slider .text {
        width: 60%;
        top: 25%;

    }

    .main-slider .title {
        font-size: 24px;
    }
    .main-slider .desc {
        font-size: 14px;
        width: 100%;
    }
    .main-slider{
        height:70vh;
    }
    .navbar-brand img {
        width: 80%;
    }
    .navbar-brand {
    width: 70%;
}
    .main-slider img{
        height:70vh;
        object-fit: cover;
        object-position: 70%;
    }
    .btn-main {
        font-size:14px;
        height:35px;
        width:100px;
        padding:0 5px;
        display:inline-flex;
        align-items: center;
        justify-content: center;
    }
    .boxes{
        display:block;
    }
    .main-slider .wrap .desc{
        display:none;
    }
    .boxes .box {
        margin: 10px 0;
        width:100%;
    }
    #our-trainings .content {
        display: block;
    }
    #features ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #features .menu li {
        font-size: 14px;
    }
    .btn-second{
        display:inline-flex;
    }
    #features .content .text{
        margin-bottom: 35px;
    }
    #features .content{
       padding:0 20px;
    }
    .menu.center-menu li{
        text-align: center;
        display: flex;
        align-items: center;
        font-size:14px;
    }
    .cards{
        margin-bottom: 35px;
    }
    .people .pp {
        width: 18%;
    }
    .people .pp.mid {
        width: 25%;
    }
    #subscribe .text {
        width: 90%;
    }
    
    #subscribe input {
        width: 75%;
    }
    
    footer{
        text-align: center !important;
    }
    footer .logo {
        margin-bottom: 35px;
    }
    
    footer .main-menu ul {
        column-count: unset;
    }
    footer .menu ul {
        display: flex;
        justify-content: center;
        margin-top:35px;
    }

    footer .copyright{
        text-align: center;width: 100%;
    }
    footer .social{
        justify-content: center;
        margin-top:15px;
        float:unset;
    }

    .main-slider .swiper-pagination{

        text-align: center;
        left: 0;
        bottom:2%;
     }
    .main-slider .swiper-pagination-bullet-active:before {
        bottom: -3px; 
    }
    .main-slider .desc {
        margin-bottom: 10px;
    }
    .main-slider .title {
        margin-bottom: 10px;
    }
    #features .content div {
        padding-right: 0;
    }
    #contact-us  {
        padding-bottom: 35px;
    }
    .content .text-area {
        margin-bottom:35px;
        
    }
}

/* Tablets */

@media(max-device-width: 768px) and (max-width: 768px){
/* insert styles here */
}

/* Android - General Smartphone */

@media (max-device-width: 640px) and (max-width: 640px){
/* insert styles here */
}

/* iPhone */

@media(max-device-width: 480px) and (max-width: 480px) {
    .main-slider .swiper-pagination-bullet-active:before {
        left: -0.2rem;
        bottom: -0.2rem;
    }

}

/* Slim Smartphone */

@media(max-device-width: 375px) and (max-width: 375px){
    .main-slider .swiper-pagination-bullet-active:before {
        left: -3px;
        bottom: -3px;
    }
}

@media(max-device-width: 320px) and (max-width: 320px){
    .navbar-brand {
        margin-right: -2rem;
    }
    .main-slider .swiper-pagination-bullet-active:before {
        bottom: -3px;
        left:-3px;
    }
    .main-slider {
        height: 80vh;
    }
    .main-slider img {
        height: 80vh;
    }
    .btn-main {
        font-size: 12px;
    }

}

